<div class="container">
    <form (ngSubmit)="onSubmit()" class="selector">
        <div class="selector_head">
            <h2 class="selector_title">Select a Category</h2>
        </div>
        <div class="selector_body">
            <div class="selector_item" *ngFor="let category of categories">
                <input type="radio" class="selector_input" name="category" id={{category}}>
                <label class="selector_label" for={{category}} (click)="showSubmitBtn(category)"><span>{{category}}</span></label>
            </div>
            <div class="submitBtnParent">
                <button type="submit" [hidden]="!isChosen" class="submitBtn">Okay</button>    
            </div>
        </div>
    </form>
</div>